body { background-color: #cef; background-image: url(fish.gif); background-attachment: fixed; color: #326; }                                    
a:link { color: #009; }                                                         
a:visited { color: #909; }                                                      
a:active { color: #009; }                                                       
